.header {
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  background: var(--primary_background_color);
  padding: 0px 32px;
  position: sticky;
  top: 0;
  z-index: 100;
  .header__left__logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid var(--primary_text_color);
    cursor: pointer;
    .header_title {
      font-size: 36px;
      font-family: "Racing Sans One", cursive;
      color: var(--primary_text_color);
      transition: all 2s ease;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  .header__right__item {
    display: flex;
    align-items: center;
    gap: 32px;
    .header_link {
      font-family: "Racing Sans One", cursive;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
