// @import url("https://fonts.googleapis.com/css2?family=Lobster&family=Xanh+Mono&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&display=swap");

.sidebar {
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: #242b4d;
  padding: 32px 0px;
  .sidebar_link {
    padding: 10px 24px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
  .sidebar_link:hover {
    background-color: #1a1f3a;
  }
  .siderbar_link_active {
    background-color: #393f5c;
    color: white;
  }
}
