.sidebar {
  width: 30%;
  min-width: 250px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 16px;
  gap: 60px;
  background-color: #1197f1;
  .sidebar__top {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    .sidebar__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
    .sidebar_name {
      margin: 0;
      padding: 0%;
      font-size: 24px;
      font-weight: 700;
    }
    .sidebar_title {
      margin: 0;
      padding: 0%;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .sidebar__middle__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    .sidebar_link {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: #726d6d;
      }
    }
  }
  .sidebar__bottom__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    .sidebar_icon {
      width: 30px;
      height: 30px;
      object-fit: contain;
      cursor: pointer;
      &:hover {
        border-radius: 4px;
        background: #fff;
      }
    }
  }
}
