@import "../../common/style/style.module.scss";
.home {
  width: 100%;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  scroll-behavior: smooth !important;
  .home__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--primary_background_color);
    transition: all 1s ease;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--primary_background_color);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary_text_color);
    border-radius: 4px;
  }
}

