.home {
  height: 100vh;
  width: 100%;

  .home__container {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 100%;
    width: 100%;
    .left_container {
      flex: 1;
      width: 100%;
      font-size: 24px;
      color: #455a64;
    }
    .home__container__social {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .home__container__name {
    font-size: 48px;
    color: #455a64;
    font-weight: 600;
  }
  .home_first_letter {
    font-size: 60px;
    font-weight: 700;
    animation: textchange 4s infinite ease-in-out;
    color: #455a64;
  }
  @keyframes textchange {
    0% {
      color: #455a64;
    }
    50% {
      color: rgb(224, 135, 224);
    }
    100% {
      color: #455a64;
    }
  }
  .home__container__title {
    font-size: 36px;
    color: #455a64;
    font-weight: 600;
  }
}
.home__container__description {
  margin-top: 72px;
  font-size: 24px;
  color: #455a64;
  font-weight: 600;
}
