.skills {
  width: 100%;
  height: calc(100vh - 80px);
}
.skills_container {
  padding: 32px;
  background-color: #1e2442;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  .skill {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .skills_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .skills_subtitle {
    font-size: 24px;
    font-weight: 600;
    margin: 32px 0px;
  }
}
.progress_bar {
  height: 36px;
  width: 60%;
  background-color: #e0e0e0;
  border-radius: 4px;
  .progress_bar_value {
    height: 100%;
    background-color: rgb(224, 135, 224);
    border-radius: 4px;
    animation: fillbackground 1s linear;
  }
  @keyframes fillbackground {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
