.footer {
  height: 70px;
  background-color: var(--primary_background_color);
  .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.foonter_container_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary_text_color);
}
.heart_blink {
  animation: heart_blinking 2s infinite;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes heart_blinking {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 24px;
  }
  100% {
    font-size: 20px;
  }
}
.footer_container_text_social_left,
.footer_container_text_social_right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer {
    height: 132px;
  }
  .foonter_container_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    font-weight: 600;
    color: var(--primary_text_color);
    gap: 12px;
  }
}
