@import "../../../../common/style/style.module.scss";

.skillSection {
  @include flex_center(column, 100%, 100%);
  .skillSection_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 1000px;
    .skillSection_container__header {
      display: flex;
      align-items: center;
      gap: 24px;
      .skillSection_container__header__title {
        @include font_app(36px, 800);
      }
      .skillSection_container__header__line {
        @include draw_line(300px, 2px, 4px, var(--secondary_text_color));
      }
    }
    .skillSection_container__body__skill {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .skillSection_container__body {
    margin: 100px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 250px;
  }
}
.skillSection_container__body__left {
  flex: 1;
  display: flex;
  gap: 24px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  .skillSection_container__body__left__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    .skill_item_title {
      @include font_app(22px, 600);
    }
    .skillSection_container__body__left__item__line {
      height: 40px;
      width: 100%;
      background-color: var(--secondary_text_color);
      border-radius: 4px;
      .skillSection_container__body__left__item__line__inner {
        height: 100%;
        width: 0%;
        background-color: var(--primary_text_color);
        border-radius: 4px;
        //add animation here to animate the width
        animation: 4s ease-in-out 0s 1 normal none running
          skillSection;
        @keyframes skillSection{
          0% {
            width: 0%;
          }
          100% {
            width: 80%;
          }
        }
      }
    }
  }
}
.skillSection_container__body__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
  .skillSection_container__body__right__title {
    @include font_app(22px, 600);
  }
}
