.contact {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 74px);
  background-color: #1e2442;
  .heading_contact {
    font-size: 42px;
    font-weight: 700;
    color: white;
  }
  .form_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    .formGroup {
      width: 450px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      label {
        font-size: 22px;
        font-weight: 600;
      }
      input {
        height: 42px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      textArea {
        height: 132px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
  .send_message_btn {
    width: 450px;
    height: 52px;
    background-color: #5a99e8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 32px;
  }
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  .contack_below_style {
    height: 6px;
    width: 450px;
    margin-top: 8px;
    background-color: white;
    margin-bottom: 52px;
    border-radius: 4px;
  }
}
