@import "../../../../common/style/style.module.scss";

.contactSection {
  @include flex_center(column, 100%, 100%);
  .contactSection_container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    max-width: 1000px;
    .contactSection_container__header {
      display: flex;
      align-items: center;
      gap: 24px;
      .contactSection_container__header__title {
        @include font_app(36px, 800);
      }
      .contactSection_container__header__line {
        @include draw_line(300px, 2px, 4px, var(--secondary_text_color));
      }
    }
    .contactSection_container__body {
      margin: 120px 0;
      .contactSection_container__body__form_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        .contactSection_container__body__form_list_item {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 480px;
          label {
            @include font_app(16px, 600, var(--secondary_text_color));
          }
          input,
          textarea {
            @include font_app(16px, 400, var(--primary_background_color));
            padding: 8px 16px;
            border: 1px solid var(--secondary_text_color);
            border-radius: 4px;
            outline: none;
            &:focus {
              border: 1px solid rgb(8, 8, 145);
            }
          }
        }
        .contactSection_container__body__form_list_btn {
          @include font_app(16px, 600);
          padding: 12px 16px;
          border: 1px solid var(--secondary_text_color);
          border-radius: 4px;
          width: 480px;
          color: var(--secondary_text_color);
          outline: none;
          transition: all 0.8s ease;
          cursor: pointer;
          &:hover {
            background-color: var(--secondary_text_color);
            color: var(--primary_text_color);
          }
        }
      }
    }
  }
}
.error{
  color: rgb(221, 46, 46);
  
}