.cv_container {
  padding: 32px;
  background-color: #1e2442;
  width: 100%;
  height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  .pdf_viewer {
    width: 80%;
    height: 100%;
    border-radius: 4px;
  }
}
